.status {
  display: flex;
  margin: 0 auto;
}

.status button {
  color: rgb(170, 170, 170);
  border: unset;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

button.active {
  color: var(--primary) !important;
  font-weight: 500;
  border-bottom: 2px solid var(--primary);
}

.status button:hover {
  color: rgb(135, 135, 135);
}