.items {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  margin: 0;
}

.container {
  background: #fff;
  border-radius: 3px;
  margin: 0.3rem 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 1.5rem;
  font-size: 1rem;
}

.title {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.body {
  margin: 0 0 0.5rem 0;
  height: 3rem;
  line-height: 1.4;
  overflow: hidden;
}

.classification button{
  border: unset;
  border-radius: 5px;
  background-color: #eff3fa;
  margin: 0 0.5rem 2rem 0;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
}

.info {
  font-size: 0.8rem;
  color: #858a8d;
}

.prototype .prototype__body .prototype__title {
  padding: 0.8rem;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.4;
  font-size: 1.2rem;
  color: var(--secondary);
}

.prototype .prototype__body .prototype__field {
  padding-top: 0.1rem;
  width: 100%;
  color: var(--primary-alpha);
}

.prototype .prototype__body .prototype__area {
  font-size: 0.8rem;
  padding-bottom: 0.8rem;
}