.container {
  display: flex;
  margin: 1rem 0;
  border-bottom: 1px solid #dee2e6;
}

.status {
  display: flex;
  font-size: 1rem;
  height: 45px;
  width: 100%;
  padding-left: 1rem;
  margin: 0;
}

.status button {
  border: unset;
  font-size: 1rem;
  padding: 0.6rem 1rem 0 1rem;
  cursor: pointer;
}

.write {
  width: 100px;
  height: 40px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0 12px;
  margin-left: 16px;
  border: 1px solid rgb(255, 102, 97);
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(255, 102, 97);
  color: rgb(255, 255, 255);
}