@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

button:focus {
  outline: 0;
}

/* prototypes */

:root {
  --primary: #021d49;
  --primary-alpha: rgba(2, 29, 73, 0.5);
  --secondary: rgb(255, 102, 97);
  --secondary-alpha: rgba(0, 255, 126, 0.5);
  --gray: #f6f6f6;
  --gray-alpha: rgba(246, 246, 246, 0.9);
  --gray-border: #dee2e6;
  --gray-font: rgb(100, 100, 100);
  --blue: #eff3fa;
  --black-color: #222223;
  --red-color: #ff4d4f;
}

/* 드래그 하는 부분의 색상 */
::selection {
  background: var(--secondary);
}

::-moz-selection {
  background: var(--secondary);
}

body,
button {
  font-family: 'Noto Sans KR', sans-serif;
  background: var(--gray);
  color: var(--primary);
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a {
  color: var(--primary);
  outline: none;
  text-decoration: none;
}