.container {
  border-top: 1px solid var(--gray-85);
  padding: 1.5rem 0;
}

.comments_info {
  display: flex;
  margin: 1rem 0;
}

.comments_info>div {
  font-size: 1.125rem;
  margin-right: 1rem;
}

.new_comment {
  margin: 1.5rem 0;
}

.writer_info {
  margin: 0.5rem 0;
}

.content_box {
  display: flex;
  width: 100%;
  height: 2rem;
}

.content_box>input {
  width: 100%;
  font-size: 0.9375rem;
  margin-right: 1rem;
  background-color: var(--bg-color);
  border: none;
  border-bottom: 1px solid black;
}

.content_box>input:focus {
  outline: none;
}

.content_box>button {
  width: 4rem;
  font-size: 0.9375rem;
  background-color: var(--gray-85);
  border: 1px solid var(--gray-80);
  border-radius: 3px;
}

.active {
  color: white;
  background-color: var(--dcw-color) !important;
  border: 1px solid var(--dcw-color) !important;
  cursor: pointer;
}

.comments {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.comment {
  margin: 1rem 0;
}

.comment_info {
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
}

.comment_info>div {
  margin-right: 0.5rem;
}

.date_view {
  color: var(--gray-50);
}

.controler {
  border: none;
  color: var(--gray-50);
  font-size: 0.875rem;
  cursor: pointer;
}

.comment_content {
  margin: 0.5rem 0;
}