.container {
  display: block;
  height: 6rem;
  align-items: center;
  padding: 1rem;
  font-size: 0.75rem;
  margin-top: 3rem;
  background-color: var(--bg-footer);
}

.info {
  max-width: 1100px;
  margin: 0 auto;
}

.info p {
  margin: 0;
}