.container {
  display: flex;
  margin: 2rem auto;
  align-items: center;
}

.container>button {
  width: 100px;
  height: 40px;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 12px;
  border: 1px solid var(--dcw-color);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--dcw-color);
  color: white;
}