.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  margin: auto;
  border: 1px solid var(--border-gray);
  border-radius: 15px;
  width: 400px;
}

.login_wrap {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
  align-items: center;
}

.id_box {
  border: 1px solid var(--border-gray);
  border-radius: 4px 4px 0 0;
  width: 100%;
}

.pwd_box {
  border: 1px solid var(--border-gray);
  border-radius: 0 0 4px 4px;
  width: 100%;
}

.login_wrap input {
  border: none !important;
  padding: 1rem;
  width: 100%;
}

.container button {
  padding: 0.4rem 0 0.4rem 0;
  margin: 0.5rem 3rem 1rem 3rem;
  border-radius: 6px;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}