.container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.search_item {
  display: flex;
  align-items: center;
  width: 450px;
  height: 45px;
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--gray-75);
  border-radius: 4px;
}

.search_item input {
  font-size: 0.9rem;
  width: 100%;
  margin-left: 0.25rem;
  border: none;
  background-color: var(--bg-color);
}

.search_item input:focus {
  outline: none;
}

.search_button {
  width: 70px;
  height: 45px;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 14px;
  border: 1px solid var(--dcw-color);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--dcw-color)
}

.reset_button {
  width: 70px;
  height: 45px;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 14px;
  border: 1px solid var(--gray-75);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--font-color);
}