.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--gray-80);
  border-radius: 15px;
  padding: 1rem 2rem;
  width: 100%;
}

.id_box {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.id_box input {
  width: 250px;
  height: 45px;
  padding: 0.5rem 0.75rem;
}

.id_box button {
  padding: 0.75rem;
  margin-left: 2rem;
  border: 1px solid var(--gray-80);
  border-radius: 3px;
  cursor: pointer;
}

.id_box p {
  margin: auto 2rem;
  color: var(--dcw-color);
}

.password_box {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.password_box input {
  width: 250px;
  height: 45px;
  padding: 0.5rem 0.75rem;
}

.password_box p {
  margin: auto 2rem;
  color: var(--dcw-color);
}

.name_box {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.name_box input {
  width: 250px;
  height: 45px;
  padding: 0.5rem 0.75rem;
}

.nickname_box {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.nickname_box input {
  width: 250px;
  height: 45px;
  padding: 0.5rem 0.75rem;
}

.nickname_box button {
  padding: 0.75rem;
  margin-left: 2rem;
  border: 1px solid var(--gray-80);
  border-radius: 3px;
  cursor: pointer;
}

.nickname_box p {
  margin: auto 2rem;
  color: var(--dcw-color);
}

.button {
  display: flex;
  justify-content: right;
  margin: 1.5rem auto;
}

.submit_button {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 2rem;
  border: 1px solid var(--dcw-color);
  border-radius: 4px;
  background-color: var(--dcw-color);
  cursor: pointer;
}