.container {
  display: flex;
  padding: 0;
  margin: 0;
}

.container button {
  color: var(--gray-65);
  background-color: var(--bg-color);
  border: unset;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  height: 2.5rem;
}

.container button:hover {
  color: var(--gray-50);
}

.container button.active {
  color: var(--dcw-color) !important;
  font-weight: 500;
  border-bottom: 2px solid var(--dcw-color);
}